<nav role="navigation">
  <ul class="nav-links">
    <li>
      <a href="/" class="home-logo-link">
        <img src="/assets/icons/TuringSchool_LogoMark_Gray.png"
         alt="Turing School of Software and Design logo">
      </a>
    </li>
    <li class="uppercase"><a href="/dtr">DTRs</a></li>
    <li class="uppercase"><a href="/module_overviews">Module Overviews</a></li>
    <li class="uppercase"><a href="/calendars">Calendars</a></li>
    <li class="uppercase"><a href="/mentor_committee">Mentor Committee</a></li>
    <li class="uppercase"><a href="/resources">Resources</a></li>
    <li class="uppercase"><a href="/recognition">Recognition</a></li>
  </ul>
</nav>
